---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=2e923d9bc7130fcd82ba417808f3748d&format=json&media=photos&method=flickr.photos.search&nojsoncallback=1&per_page=10&query=Deutschland
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":44370,"perpage":10,"total":443698,"photo":[{"id":"53333440840","owner":"199529723@N03","secret":"65ecd93ac9","server":"65535","farm":66,"title":"IMG-20180517-WA0004","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53333323149","owner":"199529723@N03","secret":"8b951568d7","server":"65535","farm":66,"title":"IMG-20180517-WA0007","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53333209383","owner":"199529723@N03","secret":"4cdae5124b","server":"65535","farm":66,"title":"IMG-20180517-WA0006","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53332982656","owner":"199529723@N03","secret":"46dddbf9de","server":"65535","farm":66,"title":"IMG-20180517-WA0005","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53333323119","owner":"164013734@N05","secret":"846ce1c6e9","server":"65535","farm":66,"title":"5X2A8511","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53333209358","owner":"164013734@N05","secret":"9241a3034e","server":"65535","farm":66,"title":"5X2A8512","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53332982626","owner":"199529723@N03","secret":"8bb4f58068","server":"65535","farm":66,"title":"IMG_20180526_075921","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53333323079","owner":"199529723@N03","secret":"7bcd1da67a","server":"65535","farm":66,"title":"IMG_20180526_123528","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53333440775","owner":"164013734@N05","secret":"25e759a74a","server":"65535","farm":66,"title":"5X2A8496","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53332982606","owner":"164013734@N05","secret":"222fa3696b","server":"65535","farm":66,"title":"5X2A8498","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Wed, 15 Nov 2023 03:32:13 GMT
recorded_with: VCR 6.2.0
