---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/Deutschland
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Page Not Found","_links":{"self":{"href":"/Deutschland","templated":false}}}'
  recorded_at: Wed, 15 Nov 2023 12:41:00 GMT
recorded_with: VCR 6.2.0
