---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=AIzaSyCXyAF49Vuzxj4MlOopScBcvajii7NkEF4&part=snippet&q=Deutschland&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "65BD7dPgH4R1FSftZutOaaIiYK8",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 4,
            "resultsPerPage": 4
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "lDQPWkrTS7ju44BdP2D21ob9ZdU",
              "id": {
                "kind": "youtube#video",
                "videoId": "7sxora2imC0"
              },
              "snippet": {
                "publishedAt": "2020-08-29T12:59:40Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Germany",
                "description": "Sources: A Concise History of Germany (2019) by Mary Fulbrook, Cambridge University Press, Cambridge, UK. The Shortest ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/7sxora2imC0/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/7sxora2imC0/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/7sxora2imC0/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2020-08-29T12:59:40Z"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "KwGGrZrOlladrtNXEgBIIXHl4N4",
              "id": {
                "kind": "youtube#video",
                "videoId": "s31ymVzOfGY"
              },
              "snippet": {
                "publishedAt": "2019-09-24T08:31:33Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "15 Things Not From the Country You Think",
   [...]
