---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=AIzaSyCXyAF49Vuzxj4MlOopScBcvajii7NkEF4&part=snippet&q=Deutschland&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "65BD7dPgH4R1FSftZutOaaIiYK8",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 4,
            "resultsPerPage": 4
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "lDQPWkrTS7ju44BdP2D21ob9ZdU",
              "id": {
                "kind": "youtube#video",
                "videoId": "7sxora2imC0"
              },
              "snippet": {
                "publishedAt": "2020-08-29T12:59:40Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Germany",
                "description": "Sources: A Concise History of Germany (2019) by Mary Fulbrook, Cambridge University Press, Cambridge, UK. The Shortest ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/7sxora2imC0/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/7sxora2imC0/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/7sxora2imC0/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2020-08-29T12:59:40Z"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "KwGGrZrOlladrtNXEgBIIXHl4N4",
              "id": {
                "kind": "youtube#video",
                "videoId": "s31ymVzOfGY"
              },
              "snippet": {
                "publishedAt": "2019-09-24T08:31:33Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "15 Things Not From the Country You Think",
   [...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=2e923d9bc7130fcd82ba417808f3748d&format=json&media=photos&method=flickr.photos.search&nojsoncallback=1&per_page=10&query=Deutschland
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":45073,"perpage":10,"total":450730,"photo":[{"id":"53333304868","owner":"8975320@N08","secret":"f1d1349d90","server":"65535","farm":66,"title":"Nov
        13 starter group coloring ycr more came later","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53333077101","owner":"116488457@N08","secret":"e6f67fcf5f","server":"65535","farm":66,"title":"IMG_8016","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53333304808","owner":"142216132@N07","secret":"95cbcce43d","server":"65535","farm":66,"title":"Hugo
        & Joslyn Wedding  September 23, 2023","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53333077026","owner":"24430216@N08","secret":"d1a8142f39","server":"65535","farm":66,"title":"IMG_20230205_094321-01","ispublic":1,"isfriend":0,"[...]
