---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=AIzaSyCXyAF49Vuzxj4MlOopScBcvajii7NkEF4&part=snippet&q=Camorr&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "UBAOiXjvY0CZ7Ub9tJDO9bUtsU8",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 0
          },
          "items": []
        }
  recorded_at: Wed, 15 Nov 2023 04:58:59 GMT
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=2e923d9bc7130fcd82ba417808f3748d&format=json&media=photos&method=flickr.photos.search&nojsoncallback=1&per_page=10&query=Camorr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":46064,"perpage":10,"total":460637,"photo":[{"id":"53333304868","owner":"8975320@N08","secret":"f1d1349d90","server":"65535","farm":66,"title":"Nov
        13 starter group coloring ycr more came later","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53333304808","owner":"142216132@N07","secret":"95cbcce43d","server":"65535","farm":66,"title":"Hugo
        & Joslyn Wedding  September 23, 2023","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53333077026","owner":"24430216@N08","secret":"d1a8142f39","server":"65535","farm":66,"title":"IMG_20230205_094321-01","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53333304803","owner":"24430216@N08","secret":"53c189f009","server":"65535","farm":66,"title":"IMG_20230205_101926-01","ispublic":1,"[...]
